<form autocomplete="off">
	{{#if isTestRoll}}
		<fieldset class="flexrow">
			<legend>{{localize "WUTC.Difficulty"}}</legend>
			<input type="radio" id="2d6" name="difficulty" value="2" data-dtype="Number" checked />
			<label for="2d6">2d6</label>
			<input type="radio" id="3d6" name="difficulty" value="3" data-dtype="Number" />
			<label for="3d6">3d6</label>
			<input type="radio" id="4d6" name="difficulty" value="4" data-dtype="Number" />
			<label for="4d6">4d6</label>
			<input type="radio" id="5d6" name="difficulty" value="5" data-dtype="Number" />
			<label for="5d6">5d6</label>
		</fieldset>
	{{/if}}
	<fieldset>
		<div class="form-group">
			<label>{{localize "WUTC.Modifiers"}}</label>
			<input type="text" name="bonus" value="" placeholder="0" />
		</div>
	</fieldset>
	<footer class="flexrow">
		<button type="submit">
			<i class="fas fa-dice"></i>
			{{localize "Roll"}}
		</button>
		<button type="button" id="close">
			<i class="fas fa-times"></i>
			{{localize "Close"}}
		</button>
	</footer>
</form>