<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
			</h1>
			<div class="resources grid {{#if isNpc}}grid-3col{{else}}grid-2col{{/if}}">
				<div class="resource flex-group-center">
					<label for="system.attributes.hp.value" class="resource-label">Hit Points</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="number"
							name="system.attributes.hp.value"
							value="{{system.attributes.hp.value}}"
							data-dtype="Number"
						/>
						<span> / </span>
						<input
							type="number"
							name="system.attributes.hp.max"
							value="{{system.attributes.hp.max}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.attributes.hd.value" class="resource-label">Hit Dice</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input
							type="number"
							name="system.attributes.hd.value"
							value="{{system.attributes.hd.value}}"
							data-dtype="Number"
						/>
					</div>
				</div>

				{{#if isNpc}}
				<div class="resource flex-group-center" style="align-self: center;">
					<div class="resource-content flexrow flex-center flex-between">
						<input type="checkbox" name="system.attributes.supernatural" {{checked system.attributes.supernatural}} />
						<label for="system.attributes.supernatural" class="resource-label" style="align-self: center;">Supernatural</label>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.js --}}
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="items">Items</a>
		{{#if spells.length}}
		<a class="item" data-tab="spells">Spells</a>
		{{/if}}
		<a class="item" data-tab="description">{{localize "WUTC.Description"}}</a>
		<a class="item" data-tab="notes">Notes</a>
		<!-- <a class="item" data-tab="effects">Effects</a> -->
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-3col">
				<aside class="sidebar">
					<div class="abilities flexcol">
						<h3>Characteristics</h3>
						{{#each system.characteristics as |ability key|}}
						<div class="ability flexrow flex-group-center">
							<label
								for="system.characteristics.{{key}}.value"
								class="resource-label rollable flexlarge align-left"
								data-key="{{key}}"
								>{{localize (concat "WUTC.Characteristics." key)}}</label
							>
							<input
								type="number"
								name="system.characteristics.{{key}}.value"
								value="{{ability.value}}"
								data-dtype="Number"
							/>
						</div>
						{{/each}}
					</div>
					<div class="abilities flexcol">
						<h3>Saves</h3>
						{{#each system.saves as |ability key|}}
						<div class="save flexrow flex-group-center">
							<label
								for="system.saves.{{key}}.value"
								class="resource-label rollable flexlarge align-left"
								data-key="{{key}}"
							>
								{{localize (concat "WUTC.Saves." key)}}
							</label>
							{{#if (eq ../actor.type "character")}}
							<span class="ability-mod rollable">{{ability.value}}</span>
							{{else}}
							<input
								type="number"
								name="system.saves.{{key}}.value"
								value="{{ability.value}}"
								data-dtype="Number"
							/>
							{{/if}}
						</div>
						{{/each}}
					</div>
					<div class="abilities flexcol">
						<h3>Info</h3>
						<div class="ability flexrow flex-group-center">
							<label for="system.attributes.ac.value" class="resource-label flexlarge align-left"
								>{{localize "WUTC.Attributes.ac"}}</label
							>
							{{#if (eq actor.type "character")}}
							<span class="ability-mod">{{numberFormat system.attributes.ac.value}}</span>
							{{else}}
							<input
								type="number"
								name="system.attributes.ac.value"
								value="{{system.attributes.ac.value}}"
								data-dtype="Number"
							/>
							{{/if}}
						</div>
						<div class="attack flexrow flex-group-center">
							<label for="system.attributes.attack.value" class="resource-label flexlarge align-left">
								{{localize "WUTC.Attributes.attack"}}
							</label>
							<input
								type="number"
								name="system.attributes.attack.value"
								value="{{system.attributes.attack.value}}"
								data-dtype="Number"
							/>
						</div>
						{{#if (eq actor.type "npc")}}
						<div class="ability flexrow flex-group-center">
							<label
								for="system.attributes.numOfAttacks.value"
								class="resource-label flexlarge align-left"
								>{{localize "WUTC.Attributes.numOfAttacks"}}</label
							>
							<input
								type="number"
								name="system.attributes.numOfAttacks.value"
								value="{{system.attributes.numOfAttacks.value}}"
								data-dtype="Number"
							/>
						</div>
						<!-- <div class="ability flexrow flex-group-center">
							<label for="system.attributes.follower.leader" class="resource-label flexlarge align-left"
								>{{localize "WUTC.Attributes.Leader"}}</label
							>
							{{#if system.attributes.follower.leader}}
							<span class="ability-mod">{{system.attributes.follower.leader}}</span>
							<a><i class="fas fa-trash"></i></a>
							{{else}}
							<span class="ability-mod"> - </span>{{/if}}
						</div> -->
						<div class="morale flexrow flex-group-center">
							<button class="rollable">{{localize "WUTC.Morale"}}</button>
						</div>
						{{/if}}
					</div>
				</aside>

				{{!-- For the main features list, span the right two columns --}}
				<section class="main grid-span-2">
					<div class="abilities flexcol" style="margin-bottom: 3px">
						<h3>Languages</h3>
						<div class="ability flexrow flex-group-center">
							<label for="system.details.languages.spoken" class="resource-label align-left"
								>{{localize "WUTC.Languages.Spoken"}}</label
							>
							<input
								class="flexlarge"
								style="text-align: left"
								type="text"
								name="system.details.languages.spoken"
								value="{{system.details.languages.spoken}}"
								data-dtype="String"
							/>
						</div>
						<div class="ability flexrow flex-group-center">
							<label for="system.details.languages.written" class="resource-label align-left"
								>{{localize "WUTC.Languages.Written"}}</label
							>
							<input
								class="flexlarge"
								style="text-align: left"
								type="text"
								name="system.details.languages.written"
								value="{{system.details.languages.written}}"
								data-dtype="String"
							/>
						</div>
					</div>
					{{> "systems/wutc/templates/actor/parts/actor-features.html"}}
				</section>
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor system.biography target="system.biography" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		<div class="tab notes" data-group="primary" data-tab="notes">
			{{> "systems/wutc/templates/actor/parts/actor-notes.html"}}
		</div>

		<div class="tab items" data-group="primary" data-tab="items">
			{{> "systems/wutc/templates/actor/parts/actor-items.html"}}
		</div>

		{{!-- Owned Spells Tab --}}
		<div class="tab spells" data-group="primary" data-tab="spells">
			{{> "systems/wutc/templates/actor/parts/actor-spells.html"}}
		</div>

		{{!-- Active Effects Tab --}}
		<!-- <div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/wutc/templates/actor/parts/actor-effects.html"}}
		</div> -->
	</section>
</form>
