<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
			</h1>
			<div class="grid grid-3col">
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Quantity"}}</label>
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Weight"}}</label>
					<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Price"}}</label>
					<input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "WUTC.Description"}}</a>
		<a class="item" data-tab="notes">Notes</a>
		<a class="item" data-tab="attributes">Attributes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			{{editor system.description target="system.description" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		<div class="tab notes" data-group="primary" data-tab="notes">
			{{> "systems/wutc/templates/item/parts/item-notes.html"}}
		</div>

		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{#if (eq system.armor.type "ward")}}
			<div class="form-group">
				<label>{{ localize "WUTC.ArmorWardEffect"}}</label>
				<input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="String" />
			</div>
			{{else}}
			<div class="form-group">
				<label>{{ localize "WUTC.ArmorClass"}}</label>
				<input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number" />
			</div>
			{{/if}}
			<div class="form-group">
				<label>{{ localize "WUTC.Type" }}</label>
				<select name="system.armor.type">
					{{selectOptions config.armorTypes selected=system.armor.type}}
				</select>
			</div>
		</div>
	</section>
</form>
