<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
			</h1>
			<div class="grid grid-4col">
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.RollFormula"}}</label>
					<input type="text" value="{{system.formula}}" data-dtype="String" disabled />
				</div>
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Quantity"}}</label>
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Weight"}}</label>
					<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">{{localize "WUTC.Price"}}</label>
					<input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">{{localize "WUTC.Description"}}</a>
		<a class="item" data-tab="attributes">Attributes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<section class="grid grid-3col">
				<aside class="sidebar">
					<div class="abilities flexcol">
						<h3><label>{{localize "WUTC.WeaponProperties"}}</label></h3>
						<div>
							{{#each config.weaponProperties as |data key|}}
							{{#if (lookup ../system.properties key )}}
							<span class="tag" data-tooltip="{{data.desc}}" data-tooltip-direction="UP">
								{{data.label}}
							</span>
							{{/if}}
							{{/each}}
						</div>
					</div>
				</aside>
				<section class="main grid-span-2">
					{{editor system.description target="system.description" rollData=rollData button=true owner=owner
					editable=editable}}
				</section>
			</section>

		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="form-group">
				<label>{{ localize "WUTC.FormulaCustomize" }}</label>
				<input type="checkbox" name="system.customizeFormula" {{checked system.customizeFormula}} />
			</div>
			<div class="form-group">
				<label>{{ localize "WUTC.Formula" }}</label>
				<input
					type="text"
					name="system.formula"
					value="{{system.formula}}"
					data-dtype="String"
					{{disabled
					(not
					system.customizeFormula)}}
				/>
			</div>
			<div class="form-group">
				<label>{{ localize "WUTC.WeightType" }}</label>
				<select name="system.type">
					{{selectOptions config.weaponTypes selected=system.type}}
				</select>
			</div>
			<div class="form-group stacked weapon-properties">
				<label>{{localize "WUTC.WeaponProperties"}}</label>
				{{#each config.weaponProperties as |data key|}}
				<label class="checkbox" data-tooltip="{{data.desc}}" data-tooltip-direction="UP">
					<input
						type="checkbox"
						name="system.properties.{{key}}"
						{{checked (lookup ../system.properties key )}}
					/>
					{{data.label}}</label
				>
				{{/each}}
			</div>
		</div>
	</section>
</form>
