@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
	color: #000;
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.grid,
.grid-2col {
	display: grid;
	grid-column: span 2 / span 2;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
	margin: 10px 0;
	padding: 0;
}

.grid-3col {
	grid-column: span 3 / span 3;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
	grid-column: span 4 / span 4;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
	grid-column: span 5 / span 5;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
	grid-column: span 6 / span 6;
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
	grid-column: span 7 / span 7;
	grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
	grid-column: span 8 / span 8;
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
	grid-column: span 9 / span 9;
	grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
	grid-column: span 10 / span 10;
	grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
	grid-column: span 11 / span 11;
	grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
	grid-column: span 12 / span 12;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
	grid-column-start: 2;
}

.grid-start-3 {
	grid-column-start: 3;
}

.grid-start-4 {
	grid-column-start: 4;
}

.grid-start-5 {
	grid-column-start: 5;
}

.grid-start-6 {
	grid-column-start: 6;
}

.grid-start-7 {
	grid-column-start: 7;
}

.grid-start-8 {
	grid-column-start: 8;
}

.grid-start-9 {
	grid-column-start: 9;
}

.grid-start-10 {
	grid-column-start: 10;
}

.grid-start-11 {
	grid-column-start: 11;
}

.grid-start-12 {
	grid-column-start: 12;
}

.grid-span-2 {
	grid-column-end: span 2;
}

.grid-span-3 {
	grid-column-end: span 3;
}

.grid-span-4 {
	grid-column-end: span 4;
}

.grid-span-5 {
	grid-column-end: span 5;
}

.grid-span-6 {
	grid-column-end: span 6;
}

.grid-span-7 {
	grid-column-end: span 7;
}

.grid-span-8 {
	grid-column-end: span 8;
}

.grid-span-9 {
	grid-column-end: span 9;
}

.grid-span-10 {
	grid-column-end: span 10;
}

.grid-span-11 {
	grid-column-end: span 11;
}

.grid-span-12 {
	grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.flex-group-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.flex-group-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.flexshrink {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.flex-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flexlarge {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.align-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

/* Styles limited to wutc sheets */
.wutc .item-form {
	font-family: "Roboto", sans-serif;
}

.wutc .sheet-header {
	-webkit-box-flex: 0;
	-ms-flex: 0 auto;
	flex: 0 auto;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.wutc .sheet-header .profile-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	height: 100px;
	margin-right: 10px;
}

.wutc .sheet-header .header-fields {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.wutc .sheet-header h1.charname {
	height: 50px;
	padding: 0px;
	margin: 5px 0;
	border-bottom: 0;
}

.wutc .sheet-header h1.charname input {
	width: 100%;
	height: 100%;
	margin: 0;
}

.wutc .sheet-tabs {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.wutc .sheet-body,
.wutc .sheet-body .tab,
.wutc .sheet-body .tab .editor {
	height: 100%;
}

.wutc .tox .tox-editor-container {
	background: #fff;
}

.wutc .tox .tox-edit-area {
	padding: 0 8px;
}

.wutc .resource-label {
	font-weight: bold;
}

.wutc .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.wutc .items-header > * {
	font-size: 14px;
	text-align: center;
}

.wutc .items-header .item-name {
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wutc .items-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	scrollbar-width: thin;
	color: #444;
}

.wutc .items-list .item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wutc .items-list .item-name {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	margin: 0;
	overflow: hidden;
	font-size: 13px;
	text-align: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wutc .items-list .item-name h3,
.wutc .items-list .item-name h4 {
	margin: 0;
	white-space: nowrap;
	overflow-x: hidden;
}

.wutc .items-list .item-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wutc .items-list .item-controls a {
	font-size: 12px;
	text-align: center;
	margin: 0 6px;
}

.wutc .items-list .item-controls .item-toggle,
.wutc .items-list .item-controls .item-weight {
	color: #b5b3a4;
}

.wutc .items-list .item-controls .item-toggle.active,
.wutc .items-list .item-controls .item-weight.active {
	color: #4b4a44;
}

.wutc .items-list .item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 2px;
	border-bottom: 1px solid #c9c7b8;
}

.wutc .items-list .item.item-detail:last-child {
	border-bottom: none;
}

.wutc .items-list .item .item-name {
	color: #191813;
}

.wutc .items-list .item .item-name .item-image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30px;
	flex: 0 0 30px;
	height: 30px;
	background-size: 30px;
	border: none;
	margin-right: 5px;
}

.wutc .items-list .item-prop {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.wutc .items-list .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.wutc .items-list .items-header > * {
	font-size: 12px;
	text-align: center;
}

.wutc .items-list .items-header .item-name {
	padding-left: 5px;
	text-align: left;
}

.wutc .item-formula {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
	padding: 0 8px;
}

.wutc .form-group.stacked label.checkbox,
.wutc .form-group.stacked label.radio {
	flex: auto;
	text-align: left;
}

.wutc.sheet.item .weapon-properties label.checkbox {
	flex: 0 0 120px;
}

.wutc .form-group.stacked span.reminder {
	font-size: var(--font-size-12);
	margin-bottom: 2px;
}

.wutc .tag {
	display: inline-block;
	margin: 0 2px 0 0;
	padding: 0 3px;
	font-size: 10px;
	line-height: 16px;
	border: 1px solid #999;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
}

.wutc button {
	background: rgba(0, 0, 0, 0.1);
	border: 2px groove #eeede0;
}

.wutc .abilities button,
.wutc.card-buttons {
	margin-top: 5px;
}

.wutc.card-buttons button {
	font-size: 12px;
	height: 24px;
	line-height: 20px;
	margin: 2px 0;
}

.wutc .encumbrance-list {
	flex-basis: 20%;
}

.wutc .effects .item .effect-source,
.wutc .effects .item .effect-duration,
.wutc .effects .item .effect-controls {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.wutc .effects .item .effect-controls {
	border: none;
}

.wutc .warning {
	background: rgba(0, 0, 0, 0.5);
	margin-bottom: 0.5em;
	padding: 6px 8px;
	border: 1px solid var(--color-border-dark-secondary);
	border-radius: 5px;
	color: var(--color-text-light-1);
	text-shadow: 1px 1px black;
}

.wutc .warning.red {
	background: rgba(105, 0, 8, 0.8);
	border: 1px solid var(--color-level-error);
}

.combat-sidebar li.combatant .token-initiative.rolled {
	flex: 1;
}
